@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #2C365E;

    --background: 0 0% 100%;
    --foreground: 242 3.5999999999999996% 96.35%;

    --muted: 242 18% 8.100000000000001%;
    --muted-foreground: 242 3.5999999999999996% 52.7%;

    --popover: 242 57.8% 3.5100000000000002%;
    --popover-foreground: 242 3.5999999999999996% 96.35%;

    --card: 242 57.8% 3.5100000000000002%;
    --card-foreground: 242 3.5999999999999996% 96.35%;
    --radius: 0.5rem;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --primary: 242 36% 27%;
    --primary-foreground: 242 3.5999999999999996% 96.35%;

    --secondary: 242 18% 8.100000000000001%;
    --secondary-foreground: 242 3.5999999999999996% 96.35%;

    --accent: 242 18% 8.100000000000001%;
    --accent-foreground: 242 3.5999999999999996% 96.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 242 3.5999999999999996% 96.35%;

    --ring: 242 36% 27%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}